<!-- Modal -->
<div class="modal text-dark fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Change language</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button class="btn btn-outline-dark btn-block d-flex justify-content-between align-items-center">
          <span class="font-weight-bold">
            Español
        </span>
        <span class="flag-icon flag-icon-es"></span
          >
        <button class="btn btn-outline-dark btn-block d-flex justify-content-between align-items-center">
            <span class="font-weight-bold">
            English
          </span>
          <span class="flag-icon flag-icon-gb"></span
            >
        </button>
      </button>
      <button class="btn btn-outline-dark btn-block d-flex justify-content-between align-items-center">
        <span class="font-weight-bold">
        Deutsch
      </span>
      <span class="flag-icon flag-icon-de"></span
        >
    </button>
    <button class="btn btn-outline-dark btn-block d-flex justify-content-between align-items-center">
      <span class="font-weight-bold">
        Français
    </span>
    <span class="flag-icon flag-icon-fr"></span
      >
  </button>
  <button class="btn btn-outline-dark btn-block d-flex justify-content-between align-items-center">
    <span class="font-weight-bold">
      Italiano
  </span>
  <span class="flag-icon flag-icon-it"></span
    >
</button>
      </div>
     
    </div>
  </div>
</div>
<nav
  class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top py-0 animated fadeInDown faster"
>
  <a class="navbar-brand" href="/">
    <img src="imgs/logo.png" alt="FDR logo" class="logo" />
  </a>
  
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto text-center rounded py-0 text-light">
      <li class="nav-item active">
        <a class="nav-link" href="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/the-dogs">The Dogs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/articles">Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Help us
        </a>
        <div
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="navbarDropdown"
        >
        <a
            class="dropdown-item d-flex justify-content-between align-items-center"
            href="/adopt"
            ><span>Adopt</span><i class="fas fa-paw"></i
          ></a>
          <a
            class="dropdown-item d-flex justify-content-between align-items-center"
            href="/foster"
            ><span>Foster</span><i class="fas fa-bone"></i
          ></a>
          <a
            class="dropdown-item d-flex justify-content-between align-items-center"
            href="/donate"
            ><span>Donate</span><i class="fas fa-donate"></i
          ></a>
          <a
            class="dropdown-item d-flex justify-content-between align-items-center"
            href="/volunteer"
            ><span>Volunteer</span
            ><i class="fas fa-hands-helping float-right"></i
          ></a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <div class="navbar-social-icons d-lg-none p-3 border-top border-bottom">
        <small class="d-block font-weight-bold mb-2">Find us on...</small>
        <div class="d-flex justify-content-center">
          <a
            href="#"
            class="btn rounded-circle social social-sm social-facebook"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a
            href="#"
            class="btn ml-2 rounded-circle social social-sm social-instagram"
            ><i class="fab fa-instagram"></i
          ></a>
        </div>
      </div>
      <small class="d-block d-lg-none mt-3 font-weight-bold" data-toggle="modal" data-target="#exampleModalCenter">Change language</small>
      <li
        class="nav-item mt-lg-0 d-flex align-items-center justify-content-center"
      >
        <button class="btn p-0 px-1" href="/contact" data-toggle="modal" data-target="#exampleModalCenter"
          ><span class="flag-icon flag-icon-selected flag-icon-gb"></span
        ></button>
      </li>
    </ul>
  </div>
</nav>
<a href="#" class="mobile-messenger-btn btn-light rounded-circle btn d-lg-none shadow border animated fadeIn delay-3s" style="
width: 2.75rem;
height: 2.75rem;
display: flex;
align-items: center;
justify-content: center;
  font-size: 1.45rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
  "><i class="fab fa-facebook-messenger"></i></a>


