<%- include('../includes/head.ejs') %>
    <title>Fuerteventura Dog Rescue - Articles</title>
  </head>
  <body>
      <%- include('../includes/navbar-fixed.ejs') %>
    <div class="content-separator"></div>
    <div class="container animated fadeIn delay-1s">
        <h1>Articles</h1>
        <p class="lead">From shelter updates to useful dog-owner tips, you will find it all here!</p>
        <!-- <p>Our volunteers contribute articles to keep you up-to-date and well-informed.</p> -->
        <div class="articles">
          <div class="row mb-4">
            <div class="col">
              <div class="article card text-dark">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-6">
                      <p class="text-muted font-weight-bold small">
                        Most recent
                      </p>
                      <h2 class="card-title font-weight-bold mb-0">
                        Shelter Update
                      </h2>
                      <div class="flags small">
                        <i class="flag-icon flag-icon-es"></i>
                        <i class="flag-icon flag-icon-gb"></i>
                        <i class="flag-icon flag-icon-de"></i>
                      </div>
                      <p class="d-inline-block mb-2 small bg-primary p-2 rounded text-light">Posted on 26 February 2020 by Derek</p>
                      <!-- <hr class="d-none d-lg-block"> -->
                      <img src="imgs/article.jpg" alt="Rafael" class="w-100 rounded d-lg-none mb-3 mb-lg-0">
                      <p class="text-justify lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit voluptatibus ea quos iure rerum officia iste cupiditate qui repellat nulla optio exercitationem perspiciatis...</p>
                    </div>
                    <div class="col-lg-6"><img src="imgs/article.jpg" alt="Rafael" class="w-100 rounded d-none d-lg-inline-block"></div>
                  </div>
                  <a href="#" class="btn btn-success d-block stretched-link mt-lg-1 font-weight-bold"><i class="fas fa-book-open mr-3"></i>Read more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 mb-2">
              <div class="article card text-dark">
                <div class="card-body">
                  <h3 class="card-title font-weight-bold mb-0">
                    Another post
                  </h3>
                  <div class="flags small">
                    <i class="flag-icon flag-icon-es"></i>
                    <i class="flag-icon flag-icon-gb"></i>
                    <i class="flag-icon flag-icon-de"></i>
                    <i class="flag-icon flag-icon-fr"></i>
                  </div>
                  <p class="d-inline-block mb-2 small bg-primary p-2 rounded text-light">Posted on 26 February 2020 by Derek</p>
                  <img src="imgs/article.jpg" alt="Rafael" class="w-100 rounded d-block">
                  <p class="mt-2 text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt amet officiis minus quasi voluptates optio adipisci, praesentium reprehenderit, nobis libero animi. Maxime sed odio dolorum id quaerat eligendi perferendis labore?...</p>
                  <a href="#" class="btn btn-success d-block stretched-link mt-lg-1 font-weight-bold"><i class="fas fa-book-open mr-3"></i>Read more</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-2">
              <div class="article card text-dark">
                <div class="card-body">
                  <h3 class="card-title font-weight-bold mb-0">
                    Another post
                  </h3>
                  <div class="flags small">
                    <i class="flag-icon flag-icon-es"></i>
                    <i class="flag-icon flag-icon-gb"></i>
                  </div>
                  <p class="d-inline-block mb-2 small bg-primary p-2 rounded text-light">Posted on 26 February 2020 by Derek</p>
                  <img src="imgs/article.jpg" alt="Rafael" class="w-100 rounded d-block">
                  <p class="mt-2 text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt amet officiis minus quasi voluptates optio adipisci, praesentium reprehenderit, nobis libero animi. Maxime sed odio dolorum id quaerat eligendi perferendis labore?...</p>
                  <a href="#" class="btn btn-success d-block stretched-link mt-lg-1 font-weight-bold"><i class="fas fa-book-open mr-3"></i>Read more</a>
                </div>
              </div>
            </div>
  
          </div>
        </div>
        <div class="d-block text-center my-5"><button class="btn btn-primary btn-lg"><i class="fas fa-book mr-3"></i>Load more articles</button></div>

    </div>
    
    <%- include('../includes/footer-with-map.ejs') %>
