<%- include('../includes/head.ejs') %>
    <title>Fuerteventura Dog Rescue - The Dogs</title>
  </head>
  <body>
      <%- include('../includes/navbar-fixed.ejs') %>
    <div class="content-separator"></div>
    <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-lg-6">
            <img src="imgs/rafael-profile.jpg" alt="rafael" class="w-100 rounded border animated delay-1s fadeIn fast">
          </div>
        <div class="col-lg-6">
          <div class="card bg-light animated my-3 my-lg-0 shadow fadeIn delay-1s fast">
            <div class="card-body p-0">
              <h1 class="card-title bg-primary py-3 font-weight-bold text-light text-center mb-0 rounded-top">Rafael</h1>
              <table class="table table-light table-striped text-dark mb-0 table-bordered table-sm small">
                <tbody >
                    <tr>
                      <th>Age</th>
                        <td class="text-center">1 year</td>
                    </tr>
                    <tr>
                      <th>Sex</th>
                        <td class="text-center">Male</td>
                    </tr>
                    <tr>
                      <th>Breed</th>
                        <td class="text-center">Bardino</td>
                    </tr>
                    <tr>
                      <th>Size</th>
                        <td class="text-center">Medium</td>
                    </tr>
                    <tr>
                      <th>Location</th>
                        <td class="text-center">The shelter</td>
                    </tr>
                    <tr>
                      <th>Time in care</th>
                        <td class="text-center">13 days</td>
                    </tr>
                    <tr>
                      <th>Dog-friendly?</th>
                        <td class="text-center">Yes</td>
                    </tr>
                    <tr>
                      <th>Cat-friendly?</th>
                        <td class="text-center">Yes</td>
                    </tr>
                    <tr>
                      <th>Family-friendly?</th>
                        <td class="text-center">Yes</td>
                    </tr>
                    <tr>
                      <th>Licence required? <small class="font-italic">(What is this?)</small></th>
                        <td class="text-center">No</td>
                    </tr>
                    <tr>
                      <th>Sterilised? <small class="font-italic">(More info)</small></th>
                        <td class="text-center">No</td>
                    </tr>
                </tbody>
            </table>
          </div>       
        </div>
        </div>
      </div>
      
      <div class="p-2 mt-3 animated fadeIn delay-1s">
        <div class="text-center">
          <div class="mb-2">
            <p class="font-weight-bold mb-0">
              Share
            </p>
            <p>
              <small>Please help us to find a home for Rafael by sharing this page with your friends!  Thank you.</small>
            </p>
          </div>
          <div class="post-social">
            <a href="#" class="button facebook mr-2">
              <span class="icon"><i class="fab fa-facebook-f"></i></span>
            </a>
            <a href="#" class="button twitter mr-2">
              <span class="icon"><i class="fab fa-twitter"></i></span>
            </a><a href="#" class="button whatsapp">
              <span class="icon"><i class="fab fa-whatsapp"></i></span>
            </a>
            <!-- <a href="#" class="btn btn-outline-light facebook"></a>
            <a href="#" class="btn btn-outline-light facebook"></a> -->
          </div>
        </div>
      </div>
    </div>
        <div class="bg-light text-dark py-5 my-4 shadow">
          <div class="container">
            <p class="lead text-center font-weight-bold mb-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque earum adipisci doloribus itaque eligendi architecto quas?</p>
          </div>
        </div>
        <div class="container">
          <div class="dog-description py-3 text-justify">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate suscipit ab nihil omnis recusandae eius ut tenetur placeat necessitatibus voluptates odit, debitis beatae ducimus iusto doloribus rem dolores nesciunt labore sequi amet ipsum error. Est corporis repudiandae incidunt quasi hic eveniet? Obcaecati repellendus iste dolores a reprehenderit, eius molestias facilis doloribus alias esse, voluptatibus laboriosam magni nobis facere, exercitationem consectetur quia similique. Perferendis animi facilis voluptatibus architecto voluptatum veritatis ex sunt, reprehenderit accusantium, quibusdam, voluptate dolore quas facere pariatur fugiat eaque libero voluptas magni laborum eos ipsum quidem necessitatibus. Cumque, eaque atque. Maiores aliquam totam suscipit, voluptate quis minima eligendi sint quibusdam, possimus ipsum nam dolorem sed explicabo rem magnam cupiditate veritatis? Repudiandae perspiciatis repellat facilis alias pariatur voluptas! Nobis.</p>
          </div>
          <div class="dog-gallery bg-primary p-3 rounded shadow-sm">
            <h3 class="font-weight-bold">Photos</h3>
            <div class="row dog-gallery-gallery">
              <div class="col-sm-6 col-md-4 col-lg-3"><a href="#"><img src="imgs/rafael-profile.jpg" alt="" class="w-100 rounded img-thumbnail bg-light my-2 dog-image"></a></div>
              <div class="col-sm-6 col-md-4 col-lg-3"><a href="#"><img src="imgs/rafael-profile.jpg" alt="" class="w-100 rounded img-thumbnail bg-light my-2 dog-image"></a></div>
              <div class="col-sm-6 col-md-4 col-lg-3"><a href="#"><img src="imgs/rafael-profile.jpg" alt="" class="w-100 rounded img-thumbnail bg-light my-2 dog-image"></a></div>
              <div class="col-sm-6 col-md-4 col-lg-3"><a href="#"><img src="imgs/rafael-profile.jpg" alt="" class="w-100 rounded img-thumbnail bg-light my-2 dog-image"></a></div>
            </div>
            <div class="text-center small">Video available on request</div>
          </div>
        </div>
        <div class="dog-follow-up container rounded py-3 my-4 text-center">
          <h3 class="font-weight-bold">Can you help Rafael?</h3>
          <div class="row">
              <div class="col"><a href="/adopt" class="btn btn-block btn-light font-weight-bold py-4"><i class="d-block display-4 fas fa-paw"></i>Adopt<span class="d-block font-weight-normal small">Find out more about the adoption process</span></a></div>
              <div class="col"><a href="/foster" class="btn btn-block btn-light font-weight-bold py-4"><i class="d-block display-4 fas fa-bone"></i>Foster<span class="d-block font-weight-normal small">Find out more about the fostering process</span></a></div>
            </div>
            <p class="lead pt-4">If you can't adopt or foster but still want to help, you can!  Please help us to spread the word about Rafael by using the buttons below...</p>
            <div class="post-social">
              <a href="#" class="button facebook mr-2">
                <span class="icon"><i class="fab fa-facebook-f"></i></span>
              </a>
              <a href="#" class="button twitter mr-2">
                <span class="icon"><i class="fab fa-twitter"></i></span>
              </a><a href="#" class="button whatsapp">
                <span class="icon"><i class="fab fa-whatsapp"></i></span>
              </a>
              <!-- <a href="#" class="btn btn-outline-light facebook"></a>
              <a href="#" class="btn btn-outline-light facebook"></a> -->
            </div>
            <a href="/the-dogs" class="btn btn-primary mt-4 font-weight-bold p-3"><i class="mr-3 fas fa-dog"></i>Back to the dogs!</a>
        </div>
        
     
    
    <%- include('../includes/footer-with-map.ejs') %>
