<%- include('../includes/head.ejs') %>
    <title>Fuerteventura Dog Rescue</title>
  </head>
  <body>
      <%- include('../includes/navbar-fixed.ejs') %>
    <div class="min-vh-100 d-flex align-items-center align-items-md-end justify-content-start p-0 m-0 hero">
        <div class="min-vh-100 min-vw-100 position-absolute hero-gradient-overlay m-0 animated fadeInDownBig fast delay-1s"></div>
        <div class="container-fluid">
            <div class="row d-flex align-items-end">
                <div class="col-xs-12 col-md-9">
                    <div class="hero-content-wrapper">
                        <div class="p-4 text-center text-md-left hero-content animated fadeIn fast delay-2s">
                            <img src="imgs/logo.png" alt="FDR Logo" class="hero-image">
                            <h2 class="mt-2 h1 font-weight-bold">We are their voice!</h2>
                            <p class="lead">Taking care of the abandoned and mistreated dogs from the La Oliva area of Fuerteventura since 2013.</p>
                            <a href="/the-dogs" class="btn btn-primary btn-lg font-weight-bold"> <i class="mr-3 fas fa-dog"></i>Meet the dogs!</i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 text-center text-md-right">
                    <div class="p-4 animated fadeIn fast delay-2s">
                        <small class="d-block font-weight-bold mb-2">Find us on...</small>
                        <div class="d-flex justify-content-center justify-content-md-end">
                            <a href="#" class="btn rounded-circle social social-facebook"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="btn ml-2 rounded-circle social social-instagram"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <%- include('../includes/footer.ejs') %>
