<%- include('../includes/head.ejs') %>
  <title>Fuerteventura Dog Rescue - Contact</title>
</head>
<body>
  <div class="min-vh-100 container d-flex justify-content-center align-items-center">
    <div class="message text-center animated fadeInDown">
      <img src="imgs/logo.png" alt="">
      <p class="mt-3">
        <span class="d-block font-weight-bold">Thank you for your message!</span>  We will reply as soon as possible.
      </p>
      <a href="/contact" class="btn btn-primary btn-lg font-weight-bold">Take me back to the site<i class="ml-3 fas fa-home"></i></a>
    </div>
  </div>
<%- include('../includes/footer.ejs') %>
